// Fonts
@mixin font ($size, $weight, $height) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}

// hr
@mixin dot {
    $dot-size: 15px;
    content: "";
    background-color: $color_tertiary;
    display: block;
    height: $dot-size;
    width: $dot-size;
    border-radius: 50%;
}

// Flex
@mixin flex-center {
    display: flex;
    align-items: center;
}