// Colors
$color_primary: rgba(0, 0, 0, 0.7);
$color_secondary: rgb(255, 255, 255);
$color_tertiary: rgb(56, 243, 243);
$color_four: rgb(204, 58, 0);

$jumbotronColor: rgba(255, 255, 255, 0.5);
$skill: rgb(91, 192, 222);

$bgFirst: rgba(0, 0, 0, 0.88);
$bgSecond: rgb(44, 46, 49);
$bgThree: rgb(189, 189, 189);