// Colors
// Background
$bg-primary: rgb(84, 70, 70);
$bg-secondary: rgba(0, 0, 0, 0.7);
$bg-tertiary: rgb(0, 0, 0);
$bg-footer: rgb(40, 40, 40);
$bg-quaternary: rgb(204, 204, 204);
$bg-quinary: rgb(255, 255, 255);
// Fonts
$color-primary: rgb(255, 255, 255);
$color-secondary: rgb(255, 72, 0); 
$color-tertiary: rgb(56, 243, 243);
$color-quaternary: rgb(40, 40, 40);
$color-quinary: rgb(204, 58, 0);
// Skillbar
$color-bar: rgb(101, 101, 101);