body {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    margin: 0;
    a {
        text-decoration: none;
    }
    .hr {
        background: $color_tertiary;
        width: 5rem;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
    }
}