.about {
    background-color: $bgSecond;
    .fa-solid {
        color: $color_tertiary;
        font-size: 10rem;
    }
    p {
        @include font(1.2rem, 400, 1.8rem);
        color: $jumbotronColor;
        b {
            color: $color_secondary;
        }
    }
}